{% extends "welcome.html" %}

{% block title %} <title>Create a story</title> {% endblock %}

{% block content %}
  <form action="/addstory" method="post">
      <br>
      Story Title (max 30 characters):
      <br>
      <input name="title" type="text" maxlength="50" required="required">
      <br><br>
      Story content (max 1000 characters):
      <br>
      <textarea name="update" rows="10" cols="100%" maxlength="1000" required="required">{{ text }}</textarea>
      <br><br>
      <input type="submit">
  </form>
{% endblock %}

</body>
</html>
